body{
    backround-color:Green;
font-family:Arial,sans-serif;
display:flex;
justify-content:center;
padding:50px;
}
.product-card{
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding: 15px;
}
.image-box{
    background-color:#37c58a;
    height: 250px;
    display: flex;
    /*justify-content:center;
    align-items:center;*/
    position: relative;
}
.image-box img{
    width: 100%;
    height: 100%;
    display:block;
    odject fit:cover;
}
.overlay-button{
    inset: 0;
    poition:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    font-weight: bold;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgb(9,151,144,0.8);
    opacity: 0.5;
    transition: opasity 0.3s ease;
}
.overlay-button span{
    border:2px solid white;
    padding: 10px 18px;
}
.image-box :hover.overlay-button{
    opacity: 1;
}
.info-box{
    padding: 20px;
}
.title-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    color: lightgreen;
    font-weight: bold;
    font-size: 20px;
}
.subtitle{
    margin: 0;
    font-size: 13px;
    margin: 5px 0 0 0;
}
h4{
    font-size: 12px;
    color: #333;
    margin: 15px 0 5px 0;
    padding-left: 20px;
}
.size details{
    color: gray;
    font-size: 13px;
    margin: 15px 0 5px 0;
    padding-left: 20px;
}
.color-dots{
    display: flex;
    gap: 8px;
    margin-top: 5px;
    padding: 20px;
}
.blue{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid white;
    background-color:  rgb(44, 44, 146);
}
.red{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: rgb(246, 14, 14);
}
.green{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: rgb(28, 205, 196)
}
.white{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid white;
    background-color:white ;
}
/*.blue {background color:rgb(44,44, 146);}
.red {background color:rgb(246, 14, 14);}
.green{bckground-color:rgb(28, 205,196);}
.white{bckground-color:white;}*/